* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #eeeeee;
  font-family: "Fira Sans", sans-serif;
}

html {
  background-color: #121212;
}

.main-container {
  margin: 1em;
}

.top-header {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

.main-heading {
  font-size: 2.1em;
  margin: 0.3em;
  margin-bottom: 0.1em;
}

.main-subtitle {
  font-size: 1em;
  margin: 0.1em;
}

.main-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .main-panel {
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  .main-panel > * {
    margin: 1em;
  }
}

.main-panel > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em 0 15em 0;
}

.main-panel > * {
  flex: 1;
}

.global-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.global-summary > * {
  flex: 1;
}

.summary-trio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.summary-trio > * {
  width: 6.5em;
  height: inherit;
  min-height: 10em;
  border-radius: 0.4em;
}

.summary-trio > .confirmed {
  background-color: #0d71ac;
  /* box-shadow: -4px 4px #814e40; */
}

.summary-trio > .recovered {
  background-color: #1eb2a6;
  /* box-shadow: 0px 4px #2a5753; */
}

.summary-trio > .deceased {
  background-color: #c45b5b;
  /* box-shadow: 4px 4px #1b262c; */
}

.summary-trio > * > .heading {
  text-transform: uppercase;
  display: block;
  border-radius: 0.2em;
  text-align: center;
  padding-top: 1.4em;
  font-weight: 600;
  color: white;
  font-size: 1.1em;
  padding-bottom: 0.5em;
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 0.34rem 0.34rem 0.7em 0.7em;
}

.summary-trio > * > .total {
  display: block;
  text-align: center;
  margin: 0.6em 0.2em;
  font-size: 1.6em;
}

.summary-trio > * > .new {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 0.4em;
  position: relative;
}
.summary-trio > * > .new > .plus {
  font-size: 0.5em;
  position: relative;
  top: -0.5rem;
  filter: opacity(0.7);
  left: 0rem;
  padding: 0.1rem;
}

.graph-container {
  margin: 1em 0;
  padding: 0.4em;
  background-color: black;
  border-radius: 0.7em;
  padding-bottom: 0.8em;
}

.top-16-countries-list {
  margin: 1em 0;
  text-align: center;
}

.top-16-countries-list > h1 {
  margin-bottom: 0.3em;
}

.top-16-countries-list > ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.top-16-countries-list > ul > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1em 0.2em;
}

.footer {
  position: fixed;
  bottom: 0em;
  left: 0em;
  color: blue;
  background-color: black;
  padding: 0.5em;
  border-top-right-radius: 1em;
  opacity: 0.2;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 300;
}

.footer > a {
  text-decoration: none;
}

.country-list {
  padding: 0.7rem;
}
.country-list > .country-dropdown {
  appearance: none;
  width: 100%;
  line-height: normal;
  background: #171717;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
