/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #eeeeee;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  background: #121212;
}

select,
option {
  background-color: #161616;
}

.main-container {
  margin: 1em;
}

.main-heading,
.main-subtitle {
  text-align: center;
}

.main-subtitle {
  margin-top: 0.5em;
}

.main-panel {
  position: relative;
  width: 90vw;
  height: 100%;
  background-color: #242424;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.main-panel > h1 {
  margin: 4.5rem auto;
  padding: 0 1em;
  text-align: center;
  text-transform: uppercase;
}

.main-panel > .summary-trio {
  flex: 1;
}

.main-panel > .top-16-countries-list {
  flex: 1;
}

.summary-trio {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  animation-name: fade-in;
  animation-duration: 1s;
  margin: 0 inherit;
  text-align: center;
  animation-timing-function: cubic-bezier(0.42, 0.04, 0, 0.99);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.summary-trio > * {
  margin: 0.2rem;
  border-radius: 0.4rem;
  flex: 1;
  max-height: 15em;
  max-width: 8em;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0.04, 0, 0.99);
}

.summary-trio > *:hover {
  flex: 2;
}

.summary-trio > .confirmed {
  background-color: rgb(204, 139, 0);
}

.summary-trio > .recovered {
  background-color: rgb(84, 173, 103);
}

.summary-trio > .deceased {
  background-color: rgb(165, 63, 40);
}

.summary-trio > * > .heading {
  text-align: center;
  margin: 0.4rem;
  text-transform: uppercase;
  padding: 0.2rem;
  border-radius: 0.3rem;
  font-weight: 700;
}

.summary-trio > .confirmed > .heading {
  background-color: rgba(255, 230, 0, 0.6);
  color: rgb(112, 77, 0);
}

.summary-trio > .recovered > .heading {
  background-color: rgba(119, 255, 149, 0.6);
  color: rgb(38, 78, 47);
}

.summary-trio > .deceased > .heading {
  background-color: rgba(255, 98, 62, 0.6);
  color: rgb(90, 35, 25);
}

.summary-trio > * > .total {
  text-align: center;
  font-size: 1.5rem;
}

.summary-trio > * > .new {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0.4rem;
  position: relative;
}

.summary-trio > * > .new > .plus {
  font-size: 0.7rem;
  position: relative;
  top: -0.5rem;
  color: rgba(255, 255, 255, 0.644);
  left: 0rem;
  padding: 0.1rem;
}

.top-16-countries-list {
  padding: 0.2em;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.91rem;
}

.top-16-countries-list > h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
  margin-bottom: 0.3em;
}

.top-16-countries-list > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.country-list {
  padding: 0.7rem;
}

.country-list > .country-dropdown {
  appearance: none;
  width: 100%;
  line-height: normal;
  background: #171717;
  padding: 0.3rem;
  border-radius: 0.3rem;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #eeeeee;
}

html {
  background-color: #121212;
}

.main-heading,
.main-subtitle {
  text-align: center;
  text-transform: uppercase;
}

.main-heading {
  margin: 0.3em;
  margin-bottom: 0.1em;
}

.main-subtitle {
  margin: 0.2em;
  font-size: 1em;
}

a {
  color: rgb(255, 145, 0);
}

.main-container {
  margin: 0.4em;
}

.main-panel {
  display: flex;
  margin: 0.2em;
  flex-wrap: wrap;
}

.main-panel > .global-summary {
  flex: 1;
}

.main-panel > .top-16-countries-list {
  flex: 1;
}

.global-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.2em;
}

.global-summary > .summary-trio {
  flex: 1;
}

.global-summary > .graph-container {
  flex: 1;
  padding: 0.1em;
  height: 400px;
}
