* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #eeeeee;
}

html {
  background: #121212;
}

select,
option {
  background-color: #161616;
}

.main-container {
  margin: 1em;
}

.main-heading,
.main-subtitle {
  text-align: center;
}

.main-subtitle {
  margin-top: 0.5em;
}

.summary-container {
  position: relative;
  width: 90vw;
  height: 15em;
  background-color: #242424;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1em;
  border-radius: 0.5em;
}

.summary-container > .date {
  position: absolute;
  bottom: 0.4rem;
  right: 0.5rem;
}
